<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>


    <% @authors.each do |author| %>
       <p><strong> <%= author.first_name %> <%= author.last_name %></strong></p>
        <%for book in author.books%>
          <p>
          Title:<%=book.title%><br>
          Price:<%=book.book_info.price%><br>
          Published On:<%=book.book_info.publish_date%><br>
          </p>
        <%end%>
        <p>
        <%= link_to 'Show', author %>
        <%= link_to 'Edit', edit_author_path(author) %>
       <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %>
       </p>
    <% end %>
  
<br>

<%= link_to 'New Author', new_author_path %>
