<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @author.first_name %> <%= @author.last_name %>
</p>

<%for book in @author.books%>
	<p>
	  <%#if !book.exists?(book.book_info) %>
		<strong>Title: </strong><%=book.title%><br>
		<strong>Published On: </strong><%=book.book_info.publish_date %><br>
		<strong>Price: </strong><%=book.book_info.price %> Rs<br>
	  <%#end%>
	</p>
<%end%>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
